<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quisquam ipsum doloremque corrupti id quae quo repellat ducimus autem ad!</p>
    </header>
    <div style="width: 30%; padding: 4rem;"> <!--This line is for Temporary-->
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, voluptas?</p>
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quisquam ipsum doloremque corrupti id quae quo repellat ducimus autem ad!</p>
    </div>
</section>
